
 body{
  background-image: url(image.jpeg) ;
  margin: 0;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);

}
.block {
display: inline-block;
width: 400px;
height: 300px;
background-color: #d8d8d8;
margin: 12px;
border-radius:.5rem;
  opacity: .7;
  font-size: 17px;
  font-family:Marker Felt, fantasy;
  
}
.container  {
text-align: center;
}
.bottomBlock{
margin: 10px;
position: absolute;
top: 110%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
width: 90%;
height: 150px;
opacity: 1;
border-radius:.5rem;
  font-size: 2px;
  font-family:Marker Felt, fantasy;
  color: white;
}
.buttonBlock{
display: inline-block;
width: 21%;
height: 70px;
margin: 5%;
margin-top:.5%;
background-color:  #d8d8d8;;
border-radius:.5rem;
opacity: .7;
color: black;
font-size:20px;
font-family:Marker Felt, fantasy;
}


